
/**
Table Of Contents
=======================================
0.0 - General
    0.1 - Base
    0.2 - Control
    0.3 - Forms
1.0 - Lobby
2.0 - Console
3.0 - Popup
*/

/*=====================================
 * 0.0 - Reset
 ====================================*/

/* 0.1 Base Styles ------------------*/

@font-face {
    font-family: BrogueCE;
    src:
        url('./assets/BrogueCE.woff2') format('woff2'),
        url('./assets/BrogueCE.woff') format('woff'),
        url('./assets/BrogueCE.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Source Code Pro", monospace;
    color: white;
    width: 100vw;
    overflow-x: hidden;
}

a, a:hover, a:active, a:visited {
    color: #aaaaaa;
}

a:hover, a:active {
    color: white;
}

* {
    word-wrap: break-word;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* 0.2 Control Styles ---------------*/

.inactive {
    display : none;
}

/* 0.3 Form Styles -------------------*/

label {
    display: block;
    font-weight: bold;
    font-size: 75%;
}

input {
    display: block;
    margin-bottom: 0.7em;
    border: 1px solid #aaaaaa;
}

input[type="radio"] {
    display: inline;
}

button {
    display: block;
}

th, td {
    padding: 0.1em 0.5em;
    text-align: left;
}

/*=====================================
 * 1.0 Lobby
 *===================================*/

.header {
    margin-right: 2.5%;
    text-align: right;
    color: white;
    background-color: black;
}

.lobby-top {
    background-color: black;
}

.banner {
    display: block;
    width: 70vw;
    max-width: 561px;
    margin: 0 auto;
    padding: 1em 0;
}

.lobby-main {
    display: flex;
    flex-direction: row;
}

.lobby-left {
    flex: none;
    width: 25vw;
    min-width: 25em;
}

.lobby-right {
    flex: auto;
    min-width: 30em;
}

.loading {
    margin: 3em;
    text-align: center;
}

.auth,
.play,
.about,
.lobby-chat,
.current-games,
.mini-scores,
.site-news,
.all-scores,
.users-page,
.server-statistics,
.user-statistics {
    margin: 0 1em;
}

.auth input {
    width: 100%;
}

.auth button {
    float: right;
}

.lobby-chat {
    max-width: 25em;
}

.lobby-chat input {
    width: 100%;
}

.lobby-chat button {
    margin-left: auto;
}

.lobby-chat-messages,
.console-chat-messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    font-size: 75%;
    border: 1px solid #aaaaaa;
    background-color: black;
}

.lobby-chat-messages {
    height: 15em;
    max-height: 15em;
}

.server-statistics table {
    width: auto;
}

.ac-result {
    font-size: 80%;
}

.highlight {
    color: #ff0000;
}

.with-tooltip {
    display: inline;
}

.with-tooltip:before {
    visibility: hidden;
    content: attr(tooltip);
    position: absolute;
    color: #aaaaaa;
    background-color: black;
    border: 1px solid #aaaaaa;
    padding: 0 0.3em;
    border-radius: 0.3em;
    transform: translateX(-100%) translate(1.8em, -1.8em);
}

.with-tooltip:hover:before {
    visibility: visible;
}

#current-games-table,
#all-scores-grid,
#mini-scores-grid,
#user-stats-scores-grid {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

@media screen and (max-width:50em) {
    .lobby-main {
        flex-direction: column;
    }
    .lobby-right,
    .lobby-left {
        background-color: inherit;
        width: 100%;
        min-width: 100%;
    }
}


/*=====================================
 * 2.0 Console
 *===================================*/

.console-wrapper {
    position : relative;
    overflow : hidden;
    user-select: none;
    outline: none;
    height: 95vh;
}

.console {
    outline: none;
    position : relative;
    overflow : hidden;
    user-select: none;
    outline: none;
}

.console-holder {
    height: calc(100vh - 1.3em);
    margin: 0;
}

.console.full-height {
    height : 100%;
}

.console-button-dpad,
.console-button {
    z-index: 5000;
    opacity: 50%;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem;
    text-align: center;
}

.console-button-dpad { font-size: 1rem; width: auto; height: 3rem; }
.console-button#console-up { bottom: 11rem; left: 4rem; }
.console-button#console-left { bottom: 7rem; }
.console-button#console-down { bottom: 3rem; left: 4rem; }
.console-button#console-right { bottom: 7rem; left: 8rem; }
.console-button#console-centre { bottom: 7rem; left: 4rem; }
.console-button#console-up-left { bottom: 11rem; }
.console-button#console-up-right { bottom: 11rem; left: 8rem; }
.console-button#console-down-left { bottom: 3rem; }
.console-button#console-down-right { bottom: 3rem; left: 8rem; }
.console-button#console-right-right { bottom: 7rem; left: 12rem; }
.console-button#console-up-right-right { bottom: 11rem; left: 12rem; }
.console-button#console-down-right-right { bottom: 3rem; left: 12rem; }

.console-cell {
    font-family: BrogueCE, "Source Code Pro", Monaco, Consolas, Noto Sans, monospace;
    position : absolute;
    overflow: visible;
    text-align: center;
    cursor: default;
    line-height: 1;
}

.console-chat {
    visibility: hidden;
    display: none;
    word-wrap: break-word;
    height: 100%;
}

.console-chat-inner {
    height: 100%;
    padding: 1em 0.5em 0.5em 0.5em;
    width: 25vw;
    max-width: 25em;
}

.console-chat form {
    width: 100%;
    margin: 0 auto;
}

.console-chat input {
    width: 100%;
}

.console-chat button {
    float: right;
    clear: left;
}

.console-chat-buttons {
    position: absolute;
    z-index: 5000;
    right: 1em;
    top: 2em;
}

.console-chat-messages {
    height: calc(100% - 10em);
    width: 100%;
    margin-top: 3em;
}

@media screen and (min-width: 700px) {

    .console-chat {
        float: right;
        visibility: inherit;
        display: inherit;
    }
}

/*=====================================
 * 3.0 Popup
 *===================================*/

.popup {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    border: 1px solid white;
    background-color: black;
}

.popup .close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(30%, -30%);
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    left:0;
    bottom:0;
}

.popup button {
    float: right;
}
